/* @import 'open-props/style'; */
@import 'open-props/normalize';
@import '@radix-ui/colors/mauve';
@import '@radix-ui/colors/mauve-dark';
@import '@radix-ui/colors/red';
@import '@radix-ui/colors/red-dark';
@import url('https://use.typekit.net/hzi1zjb.css');
@import './scrollbars.css';
/* @import './transitions.css'; */

/**
 * Light/Dark mode
 */
:root {
  --surface-1: var(--mauve-2);
  --surface-2: var(--mauve-3);
  --surface-3: var(--mauve-4);
  --surface-4: var(--mauve-5);

  --text-1: var(--mauve-12);
  --text-2: var(--mauve-11);
  --text-3: var(--mauve-10);
  --text-4: var(--mauve-9);
  --text-5: var(--mauve-8);

  --accent: var(--red-9);

  --body-padding: var(--size-8);
}

/**
 * Elements
 */
html {
  font-family: stolzl, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0 var(--size-3);
}

a {
  color: currentColor;
  text-decoration-color: currentColor;
}

p {
  font-family: 'Inconsolata', monospace;
}

h1 {
  font-size: 6rem;
}

h3 {
  font-size: 3rem;
}

/**
 * Classes
 */
.container {
  padding-inline-start: var(--size-11);

  @media (max-width: 768px) {
    padding-inline-start: var(--size-3);
  }
}

.material-symbols-outlined {
  font-size: 32px;
}
/* .container { */
/* padding-inline: var(--size-3); */
/* margin-inline: auto; */

/* @media (max-width: 999px) {
    width: 100%;
  } */

/* @media (min-width: 1000px) and (max-width: 1399px) {
    max-width: 960px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  } */
/* } */

.accent {
  color: var(--accent);
}

.gradient-text {
  background: var(--gradient-20);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
