@import 'open-props/normalize';
@import '@radix-ui/colors/gray';
@import '@radix-ui/colors/gray-dark';
@import '@radix-ui/colors/red';
@import '@radix-ui/colors/red-dark';
@import url('https://use.typekit.net/hzi1zjb.css');
@import './scrollbars.css';
@import './transitions.css';

/**
 * Light/Dark mode
 */
:root {
  --surface-1: light-dark(var(--gray-2), var(--gray-12));
  --surface-2: light-dark(var(--gray-3), var(--gray-11));
  --surface-3: light-dark(var(--gray-4), var(--gray-10));
  --surface-4: light-dark(var(--gray-5), var(--gray-9));

  --text-1: light-dark(var(--gray-12), var(--gray-1));
  --text-2: light-dark(var(--gray-11), var(--gray-2));
  --text-3: light-dark(var(--gray-10), var(--gray-3));
  --text-4: light-dark(var(--gray-9), var(--gray-4));
  --text-5: light-dark(var(--gray-8), var(--gray-5));

  --accent: var(--red-9);

  --body-padding: var(--size-8);
}

/**
 * Elements
 */
html {
  font-family: stolzl, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

svg {
  fill: currentColor;
}

a {
  color: currentColor;
  text-decoration-color: currentColor;
}

p {
  font-family: 'Newsreader', serif;
}
p, li {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  letter-spacing: var(--font-letterspacing-0);
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

/**
 * Classes
 */
.container {
  padding-inline: var(--size-11);

  @media (max-width: 768px) {
    padding-inline-start: var(--size-3);
  }
}

.accent {
  color: var(--accent);
}
