/* ::view-transition-group(root) {
  animation-duration: 100ms;
} */

@keyframes out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

::view-transition-old(root) {
  animation: 160ms ease-in both out;
}

::view-transition-new(root) {
  animation: 400ms ease-in-out both in;
}
