/* ::view-transition-group(root) {
  animation-duration: 0.5s;
} */

@keyframes out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

::view-transition-old(root) {
  animation: 0.4s ease-in both out;
}

::view-transition-new(root) {
  animation: 0.4s ease-in both in;
}
