---
import Main from '../layouts/Main.astro'
---

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
    margin-block-start: var(--size-10);
  }

  p {
    font-size: 1.5rem;
  }
</style>

<Main>
  <div class="container">
    <h1>Creative for hire.</h1>
    <p>
      Over the past twenty years, I've worked across nearly every creative
      discipline —from Motion and Interactive Design to Creative Director, Unity
      Developer to .NET Solutions Architect. I've seen a lot, from small
      startups to Fortune 500, and I come back to the Web. It's our most
      far-reaching platform.
    </p>
    <p>
      Based in Charlotte, NC, I'm open to opportunities outside the area, or
      abroad. Location isn't a concern—what matters is the role. I'm looking for
      a position that challenges me, offers room to grow, and values the power
      of a strong, talented team.
    </p>
  </div>
</Main>
