---
import Main from '../layouts/Main.astro'
import Hero from '../components/Hero.astro'
import { getCollection } from 'astro:content'
import ProjectCard from '../components/ProjectCard.astro'

const projects = await getCollection('projects')
---

<Main>
  <Hero />
  <div class="grid">
    {projects.map((project) => <ProjectCard {...project.data} />)}
  </div>
</Main>

<style>
  .grid {
    display: grid;
    gap: calc(var(--body-padding) / 2);
    grid-template-columns: 1fr 1fr;
    margin-inline: calc(var(--body-padding) / 4);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
</style>

<script>
  import { animate } from 'animejs'
  import Splitting from 'splitting'
  import 'splitting/dist/splitting.css'
  import 'splitting/dist/splitting-cells.css'

  Splitting({
    target: document.querySelectorAll('.link h2'),
  })

  document.querySelectorAll('.link').forEach((el) => {
    const targets = el.querySelectorAll('h2 .char')

    const enter = animate(targets, {
      translateY: {
        from: -30,
        to: 0,
      },
      opacity: {
        from: 0,
        to: 1,
      },
      easing: 'easeOutExpo',
      duration: 320,
      delay: (_, i) => 30 * i,
      autoplay: false,
    })

    el.addEventListener('pointerenter', () => enter.restart())
    el.addEventListener('pointerleave', () => enter.reverse())
  })
</script>
