---
import Main from '../layouts/Main.astro'
import Hero from '../components/Hero.astro'
import Grid from '../components/Grid.astro'
---

<Main>
  <Hero />
  <Grid />
</Main>

<style>
  html,
  body,
  main {
    overflow: hidden;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    place-content: center;
  }
</style>
