---
import Main from '../layouts/Main.astro'
import Hero from '../components/Hero.astro'
import Content from '../components/Content.astro'
---

<Main>
  <Hero />
  <Content collection="projects" />
</Main>

<script>
  import { animate } from 'animejs'
  import { wrapText, type Options } from '../effects/TextWrapper'

  const opts: Options = {
    attributes: {
      style: `display: inline-block; transform: translateY(-30px); opacity: 0`,
    },
  }

  document.querySelectorAll('.link h2').forEach((el) => wrapText(el, opts))

  document.querySelectorAll('.link').forEach((el) => {
    const targets = el.querySelectorAll('h2 span')

    const enter = animate(targets, {
      translateY: 0,
      opacity: 1,
      easing: 'easeOutExpo',
      duration: 320,
      delay: (_, i) => 30 * i,
      autoplay: false,
    })

    el.addEventListener('pointerenter', () => enter.restart())
    el.addEventListener('pointerleave', () => enter.reverse())
    // el.addEventListener('focus', () => enter.restart())
    // el.addEventListener('blur', () => enter.reverse())
  })
</script>
