---
import { getCollection } from 'astro:content'
import Card from './Card.astro'

const { collection } = Astro.props as { collection: 'blog' | 'projects' }

const data = await getCollection(collection)
---

<style>
  .grid {
    display: grid;
    gap: calc(var(--body-padding) / 2);
    grid-template-columns: 1fr 1fr;
    margin-inline: calc(var(--body-padding) / 4);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
</style>

<div class="grid">
  {data.map((item) => <Card {...item.data} />)}
</div>
