---
import GithubIcon from '../content/icons/github.svg'
import LinkedInIcon from '../content/icons/linkedin.svg'
import ResumeIcon from '../content/icons/docs.svg'
---

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: var(--size-6);
    margin-block-start: var(--size-10);
    margin-block-end: var(--size-8);
    padding-block: var(--size-8);
    border-top: 5px solid rgb(from canvastext r g b / 0.1);
    margin-inline: var(--body-padding);
    padding-inline: calc(var(--size-11) - var(--body-padding));
  }

  h3 {
    margin-block: var(--size-2);
  }

  a {
    color: var(--accent);
    text-decoration: underline;
    display: inline-flex;
    gap: var(--size-1);

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: var(--size-5);
    flex-wrap: wrap;
  }

  li {
    padding: 0;
  }

  small {
    margin-top: var(--size-5);
    text-wrap: nowrap;
  }

  svg {
    width: var(--size-6);
    align-self: center;
  }
</style>

<footer class="container">
  <h3><a href="mailto:hello@jam.fail">hello@jam.fail</a></h3>
  <p>
    <span class="accent">Hey!</span> I am currently exploring opportunities.<br
    />Have something in mind? <a href="mailto:hello@jam.fail">Get in touch!</a>
  </p>
  <nav>
    <ul>
      <li>
        <a href=""><ResumeIcon />Resume</a>
      </li>
      <li><a href=""><LinkedInIcon /> LinkedIn</a></li>
      <li>
        <a href="https://github.com/jamiller619"><GithubIcon /> Github</a>
      </li>
    </ul>
  </nav>
  <small>
    &copy; {new Date().getFullYear()} Jeff Miller. All rights reserved.
  </small>
</footer>
