---
import LogoSVG from '../content/icons/logo.svg'
import BackIcon from '../content/icons/back.svg'
---

<style>
  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding-inline: var(--body-padding);
    display: flex;
    place-content: space-between;
    color: var(--accent);
    z-index: 1;
    background-color: rgb(from var(--color-bg) r g b / 0.3);
    backdrop-filter: blur(30px);
    /** This keeps the header from jumping around because
    the height changes dependent on content */
    height: 96px;
    view-transition-name: header;
  }

  a {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-8);
    font-size: var(--font-size-4);
    line-height: var(--font-lineheight-0);
    text-decoration: none;
    color: currentColor;
  }

  .end {
    display: flex;
    gap: var(--size-8);
  }
</style>

<header>
  {
    Astro.url.pathname === '/' ? (
      <a href="/" id="logo">
        <LogoSVG />
      </a>
    ) : (
      <a href="javascript:window.history.back()">
        <BackIcon />
        back
      </a>
    )
  }
  <div class="end">
    <a href="/blog">blog</a>
    <a href="/about">about</a>
  </div>
</header>
