<style>
  .container {
    padding-block: var(--size-10);
  }

  h1,
  h3 {
    letter-spacing: var(--font-letterspacing-0);
  }

  h1 {
    font-weight: var(--font-weight-8);
    /* font-size: 5rem; */
    padding-block: var(--size-9);
  }

  h3 {
    /* font-size: var(--font-size-7); */
    color: var(--accent);
  }
</style>

<div class="container">
  <h1>Hey, I&#8217;m Jeff.</h1>
  <h3>A design-focused,<br />full-stack engineer.</h3>
</div>
