---
import ParallaxScrollElement from './ParallaxScrollElement.astro'
---

<style>
  .container {
    padding-block: var(--size-7);
  }

  h1 {
    font-weight: var(--font-weight-8);
  }

  h3 {
    color: var(--accent);
  }

  @media (max-width: 768px) {
    h1 {
      font-size: var(--size-10);
    }

    h3 {
      font-size: var(--size-7);
    }
  }
</style>

<div class="container">
  <h1>Hey, I&#8217;m Jeff.</h1>
  <h3>A design-focused,<br />full-stack engineer.</h3>
</div>
