---
import ProjectGrid from './ProjectGrid.astro'
---

<main>
  <div class="container">
    <h1>Hey, I'm Jeff.</h1>
    <h3>A designer of practical, technical solutions.</h3>
  </div>
  <ProjectGrid />
</main>

<style>
  .container {
    margin: var(--size-fluid-7) 0;
    padding: 0 var(--size-fluid-7);
  }

  h1,
  h3 {
    line-height: var(--font-lineheight-0);
    letter-spacing: var(--font-letterspacing-0);
  }

  h1 {
    font-weight: var(--font-weight-8);
    font-size: var(--size-fluid-6);
    padding: var(--size-9) 0;
  }

  h3 {
    color: var(--accent);
    font-size: var(--size-fluid-4);
  }
</style>
